.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.section-title {
  color: #2ddf5c;
  text-align: center
}

.plan {
  background: #d5ffdc;
  text-align: center;
  display: inline-block;
  vertical-align: center;
  width: 30%;
  padding: 8px;
  margin: 5px;


}
.plan--highlighted {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0)

}
.plan__annotation{
  color: #19b84c;
  background: white;
  padding: 2px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0);
  border-radius: 4px
}
.plan__title {
  color: #0e4f1f
}
.plan__price {
  color : #858585
}
.plan--highlighted .plan__title{
  color: white;
}
.plan--highlighted .plan__price{
  color: #0e4f1f
}

.plan__features {
  margin: 0;
  padding: 0;
  list-style: none;
}
.plan__features li{
  margin: 8px 0px;
}
.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}
.button:hover,
.button:active {
  color: #0e4f1f;
  background: white
}
.button:focus{
  outline: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


